.app__dark {
  background-color: black !important;
}

.switchMode {
  display: flex;
  align-items: center;
  height: 100%;
}

.items {
  position: absolute;
  top: 20px;
  left: 200px;
  display: flex;
  align-items: center;
  margin: auto;
  color: grey;
  z-index: 1000;
}

.shiningSun {
  color: orange;
}

.darkMoon {
  color: purple;
}
